#header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: red;
    z-index: 1;
    /* overflow: hidden; */

}
#nav{
    display: inline-block;
    
}
#nav, .subnav{
list-style-type: none;
}

#nav> li{
    display: inline-block;
    
} 
#nav li {
    position: relative;
}
#nav >li >a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
   
}

#nav li:hover .subnav{
    display: block;
}
#nav> li:hover> a,
#nav .subnav li:hover a {
    color: red;
    background-color: white;
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 1, 1);
    min-width: 270px;
}
#nav .subnav a{
    color: rgb(252, 250, 250);
    padding: 0 24px;
    line-height: 38px;

}
#nav .ti-angle-down{
    font-size: 12px;
}

#header .mobile-menu-btn{
    position:absolute;
    top:0;
    right:0;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;

   
}
#header .mobile-menu-btn{
    display: none;
}
#header .search-btn:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}
#header .mobile-menu-btn:hover {
    background-color: white;
    cursor: pointer;
}
#header .menu-icon,
#header .search-icon{
color: black;
font-size: 20px;
line-height: 46px;
}


#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/emirates.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 57px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    width: 100%;
    text-shadow: tomato;
   
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24;
}
#slider .text-discription{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px rgb(0, 0, 0);

}